doctype html
html(ng-app='angora')
    head
        title #{title}
        meta(name='google-signin-client_id' content='478037030670-lgvtll3r57al8kv7fla07fhrnf6q8c74.apps.googleusercontent.com')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ruda:400,900,700')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='../css/animate.css')
        link(rel='stylesheet', href='../css/creativelinks.css')
        link(rel='stylesheet', href='../css/creativebuttons.css')
        link(rel='stylesheet', href='../css/main.css')
        link(rel='stylesheet', href='../css/home.css')
        link(rel='stylesheet', href='../css/signup.css')
        link(rel='stylesheet', href='../css/nearby.css')
        link(rel='stylesheet', href='../css/stylistsModal.css')
        link(rel='stylesheet', href='../css/stylistMarker.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        script(src='https://apis.google.com/js/platform.js', async="", defer="")
        script(src='../bundle.js')
        script(src='../js/services/nearby.js')
        script(src='../js/services/user.js')
        script(src='../js/controllers/navController.js')
        script(src='../js/controllers/nearbyController.js')
        script(src='../js/controllers/signupController.js')
        script(src='../js/controllers/homeController.js')
        script(src='../js/controllers/stylistsModalController.js')
        script(src='../js/controllers/stylistMarkerController.js')
    body
        block content
            nav(class='navbar navbar-default navbar-static-top')
                div(class='container')
                    div(id='navbar')
                        ul(class='nav navbar-nav navbar-right cl-effect-14')
                            li
                                a(href='#/')
                                    span(class='glyphicon glyphicon-home')
                            li
                                a(href='#')
                                    span(class='glyphicon glyphicon-upload')
                            li
                                a(href='#')
                                    span(class='glyphicon glyphicon-user')
            div(ng-view class='main')
            div(id='fb-root')
