doctype html
html(ng-app='angora')
    head
        title #{title}
        meta(name='google-signin-client_id' content='478037030670-lgvtll3r57al8kv7fla07fhrnf6q8c74.apps.googleusercontent.com')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ruda:400,900,700')
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='../css/animate.css')
        link(rel='stylesheet', href='../css/creativelinks.css')
        link(rel='stylesheet', href='../css/creativebuttons.css')
        link(rel='stylesheet', href='../css/main.css')
        link(rel='stylesheet', href='../css/home.css')
        link(rel='stylesheet', href='../css/signup.css')
        script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js')
        script(src='https://apis.google.com/js/platform.js', async="", defer="")
        script(src='../index.js')
        script(src='../js/services/nearby.js')
        script(src='../js/services/user.js')
        script(src='../js/controllers/navController.js')
        script(src='../js/controllers/nearbyController.js')
        script(src='../js/controllers/signupController.js')
        script(src='../js/controllers/homeController.js')
    body
        block content
            nav(class='navbar navbar-default navbar-static-top')
                div(class='container')
                    button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
                        span(class='sr-only') Toggle navigation
                        span(class='icon-bar')
                        span(class='icon-bar')
                        span(class='icon-bar')
                    div(id='navbar' class='navbar-collapse collapse')
                        ul(class='nav navbar-nav navbar-right cl-effect-14')
                            li
                                a(href='#')
                                    span(class='glyphicon glyphicon-upload')
                            li
                                a(href='#')
                                    span(class='glyphicon glyphicon-home')
                            li
                                a(href='#')
                                    span(class='glyphicon glyphicon-user')
            div(ng-view class='main')
            div(id='fb-root')
