@greyblue: #435a6b;
@skyblue: #0099CC;

html, body {
  background-color: @greyblue;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  color: white;
}

.navbar {
  background-color: transparent;
  position: relative;
  min-height:30px;
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 0px;

  .navbar-nav {
    float: left !important;

    >li {
      float: left !important;

      >a {
        font-size: 1.2em;
        position: relative;
        color: white;
        text-transform: capitalize;
        padding: 10px 10px;
        margin: 10px 10px;
        -webkit-transition: color 0.3s ease-out;
        transition: color 0.3s  ease-out;
      }

      >a:hover, >a:focus {
        text-decoration: none;
        color: orange;
      }
    }
  }

  .navbar-right {
    float: right!important;
  }
}

.main {
  height: 80%;
  width: 100%;
  position: absolute;
}

.blur {
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -ms-filter: blur(6px);
  -o-filter: blur(6px);
  filter: blur(6px);
  filter: url(blur.svg#blur);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='6');
}