div(class='outer' ng-controller='homeController')
        div(class="title-block")
            div(ng-class='animateGroup')
                div(class='title') Angora
                div(class='options')
                    div(class='cl-effect-8')
                        a(href="/#/nearby") Find haircuts near you!&nbsp;
                            span(class='glyphicon glyphicon-search')

                div(class='separator') -OR-

                div(class='options')
                    div(class='cl-effect-8')
                        a(href="/") Pick your style!&nbsp;
                            span(class='glyphicon glyphicon-user')
